<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1585},{239,245}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{239,245}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1278},{299,275}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{299,275}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,327}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,967},{307,315}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{307,315}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,650},{313,319}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,319}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{307,317}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{307,317}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{311,313}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{311,313}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,658},{319,309}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{319,309}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,333},{319,313}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{319,313}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,333},{325,321}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{325,321}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{327,325}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{327,325}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{329,327}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{329,327}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{329,327}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{329,327}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1274},{313,303}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{313,303}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,971},{315,299}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{315,299}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{315,293}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{315,293}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1581},{291,293}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{291,293}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1557},{291,293}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{291,293}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551a17bb9f69f3f7b59c025a3d76a41b$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
