<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,40},{36,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{36,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,44},{36,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{36,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{38,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletEffect_3_1_1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8b104b6b86d5897c677a2b2cc83f47$</string>
            <key>textureFileName</key>
            <string>bulletEffect_3_1_1.png</string>
        </dict>
    </dict>
</plist>
