<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,188},{122,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{122,78}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{124,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{124,78}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,182},{124,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{124,80}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{124,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{124,80}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,98},{126,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{126,86}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{126,92}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{126,92}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,100},{126,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{126,78}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,96}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{126,96}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{126,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{126,74}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{126,94}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,266},{120,74}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{120,74}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,162},{118,76}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{118,76}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,82},{118,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{118,76}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{118,76}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crazy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67095cf107ba313999f49e17944453a8$</string>
            <key>textureFileName</key>
            <string>crazy.png</string>
        </dict>
    </dict>
</plist>
