<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,675},{26,27}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,74},{26,27}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,684},{44,47}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,58},{44,47}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,531},{150,149}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{150,149}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,161}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{166,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{166,157}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,318},{116,125}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{116,125}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{140,127}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{140,127}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,146},{168,125}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{168,125}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{184,149}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,149}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{184,135}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,304},{184,123}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{184,123}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,155},{184,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{184,145}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{182,107}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{182,107}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{174,93}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{174,93}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,431},{170,91}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,64},{170,91}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,526},{164,91}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,66},{164,91}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,438},{154,89}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,70},{154,89}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,621},{142,73}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,86},{142,73}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
            <key>0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{122,59}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,101},{122,59}}</string>
                <key>sourceSize</key>
                <string>{184,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cea7af17d78a3aa1e17f426073a2628$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
