<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huohuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{202,152}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{202,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{210,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{202,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{202,150}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{188,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{188,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,158},{176,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{176,150}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{182,152}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{182,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,312},{186,152}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{186,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,308},{190,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{190,150}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,462},{170,152}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{170,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,324},{188,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{188,154}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{188,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{188,154}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,158},{192,156}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{192,156}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{198,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{198,158}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,158},{196,162}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{196,162}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{194,154}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{194,154}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,156},{202,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{202,148}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
            <key>huohuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{208,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{208,152}}</string>
                <key>sourceSize</key>
                <string>{216,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huohuan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26cc03181352f75ecca7b0e149f48d12$</string>
            <key>textureFileName</key>
            <string>huohuan.png</string>
        </dict>
    </dict>
</plist>
