<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoqiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{188,128}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{188,128}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>huoqiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,252},{186,118}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{186,118}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>huoqiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,120}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{202,120}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>huoqiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{198,128}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{198,128}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>huoqiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{198,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{198,122}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>huoqiu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,134},{180,122}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoqiu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee4400df18d466ee99af3a50df2d10b3$</string>
            <key>textureFileName</key>
            <string>huoqiu.png</string>
        </dict>
    </dict>
</plist>
