<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tishi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,382},{186,186}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,192},{186,188}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,768},{186,188}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,576},{186,188}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,384},{186,188}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,192},{186,188}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{186,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{186,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{186,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,770},{186,188}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,192},{186,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{186,188}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{188,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{188,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tishi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icotishi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b5e0ce6af3f43c93d18aafebe0c068$</string>
            <key>textureFileName</key>
            <string>icotishi.png</string>
        </dict>
    </dict>
</plist>
