<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinse_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,406},{323,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1214},{325,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{325,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,810},{327,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1214},{327,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{327,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{329,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{329,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{331,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{331,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{331,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{327,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1618},{325,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{325,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{323,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,406},{323,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{323,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{323,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1618},{323,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{323,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
            <key>jinse_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1618},{325,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{325,400}}</string>
                <key>sourceSize</key>
                <string>{355,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinsekuang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ca5fefc18152b87d3d9a268134773c9$</string>
            <key>textureFileName</key>
            <string>jinsekuang.png</string>
        </dict>
    </dict>
</plist>
