<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fast_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>fast_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>fast_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{142,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>fast_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{128,61}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{128,61}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>otherBuff.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be2bd9e951505dd4c0d2e0813a9107c$</string>
            <key>textureFileName</key>
            <string>otherBuff.png</string>
        </dict>
    </dict>
</plist>
