<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{70,67}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{70,67}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,534},{114,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{114,105}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{126,117}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{126,117}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,409},{134,123}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,123}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,407},{138,123}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,123}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,276},{138,127}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{140,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,139},{140,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,133}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{142,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{142,131}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,133}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{140,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,137},{140,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{138,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,73},{68,131}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{68,131}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paopao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941dc7174e3cba4911b63ba1fa8fcbff$</string>
            <key>textureFileName</key>
            <string>paopao.png</string>
        </dict>
    </dict>
</plist>
