<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,213},{172,207}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{172,207}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,424},{172,207}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{172,207}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,213},{172,207}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{172,207}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{174,207}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{174,207}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,691},{188,209}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{188,209}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,472},{196,215}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,215}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{204,223}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,223}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{210,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,231}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,231}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{178,229}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,229}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{160,181}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,50},{160,181}}</string>
                <key>sourceSize</key>
                <string>{210,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_complete.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9943eb234aafe83e98f1b481934f152a$</string>
            <key>textureFileName</key>
            <string>task_complete.png</string>
        </dict>
    </dict>
</plist>
