<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,475},{94,75}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,58},{94,75}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,392},{100,115}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{100,115}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,359},{112,129}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{100,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{100,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,353},{118,129}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{122,129}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,226},{130,129}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{132,129}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,224},{136,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,125}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,125}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{138,121}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{138,121}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,127},{138,93}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{138,93}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,131},{138,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,126},{138,75}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{138,75}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,475},{120,67}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{120,67}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,268},{120,75}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{120,75}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{120,79}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{120,79}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{120,53}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{120,53}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,511},{62,47}}</string>
                <key>offset</key>
                <string>{20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{62,47}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>0000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,475},{62,37}}</string>
                <key>offset</key>
                <string>{19,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,96},{62,37}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_5_4_hit1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3a116c90606535e9c0adddc830709d2$</string>
            <key>textureFileName</key>
            <string>tower_5_4_hit1.png</string>
        </dict>
    </dict>
</plist>
