<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,282},{64,55}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,99},{64,55}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,663},{124,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,71},{124,103}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,450},{216,189}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{216,189}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,430},{224,197}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{224,197}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{232,211}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{232,211}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{232,211}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{232,211}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,229},{232,219}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{232,219}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,223}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{236,223}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{234,225}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{234,225}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,227}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{236,227}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,231},{224,215}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{224,215}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,217},{226,209}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{226,209}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{228,211}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{228,211}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,631},{208,211}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{208,211}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,452},{206,209}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{206,209}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>baodian_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,643},{204,209}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{204,209}}</string>
                <key>sourceSize</key>
                <string>{248,245}</string>
            </dict>
            <key>feidan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,881},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>feidan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,850},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>feidan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,850},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>feidan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,749},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>feidan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,643},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>feidan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,881},{102,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>gongji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,651},{195,107}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{195,107}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,662},{189,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{189,107}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,843},{189,105}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{189,105}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,855},{185,93}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{185,93}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,462},{185,85}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{185,85}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{181,83}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{181,83}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{167,77}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{167,77}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{137,67}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,23},{137,67}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,143},{135,67}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{135,67}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,341},{117,61}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{117,61}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,952},{43,51}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,35},{43,51}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,952},{33,49}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,36},{33,49}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,952},{33,41}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,41},{33,41}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>gongji_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,452},{23,41}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,41},{23,41}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_2_4_skin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d7a5ba61eb2b2a1cb079a5478e2f58$</string>
            <key>textureFileName</key>
            <string>tower_2_4_skin.png</string>
        </dict>
    </dict>
</plist>
