<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,159},{187,153}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{187,153}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{203,153}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{203,153}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,147}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{217,147}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{195,149}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{195,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,637},{173,149}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{173,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,620},{175,149}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{175,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{175,149}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{175,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,467},{175,149}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{175,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{177,149}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{177,149}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{177,147}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{177,147}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,316},{177,147}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{177,147}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,429},{105,145}}</string>
                <key>offset</key>
                <string>{-68,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,145}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,282},{107,143}}</string>
                <key>offset</key>
                <string>{-69,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{107,143}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,538},{95,141}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{95,141}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{95,139}}</string>
                <key>offset</key>
                <string>{-65,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{95,139}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{75,137}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{75,137}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,143},{73,135}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{73,135}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{69,131}}</string>
                <key>offset</key>
                <string>{-57,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{69,131}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_2_4_attack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30687b588a0b9d92318ea5f9e932fdda$</string>
            <key>textureFileName</key>
            <string>tower_2_4_attack.png</string>
        </dict>
    </dict>
</plist>
