<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,117},{43,32}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{43,32}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,196},{53,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{53,54}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{59,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{59,64}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,129},{63,66}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,66}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,114},{63,66}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,66}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,62},{63,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{67,66}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,66}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{71,56}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{71,56}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{71,52}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{71,52}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,196},{50,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>0000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,58},{69,52}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{69,52}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{65,48}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{65,48}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,58},{55,28}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{55,28}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>0000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{27,40}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{27,40}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_5_4_hit.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b72b26cdc171caf59f54f5e67410deee$</string>
            <key>textureFileName</key>
            <string>tower_5_4_hit.png</string>
        </dict>
    </dict>
</plist>
