<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,824},{124,124}}</string>
                <key>offset</key>
                <string>{-185,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{124,124}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,952},{134,122}}</string>
                <key>offset</key>
                <string>{-174,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,46},{134,122}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1398},{166,136}}</string>
                <key>offset</key>
                <string>{-161,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,41},{166,136}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1374},{204,146}}</string>
                <key>offset</key>
                <string>{-143,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{204,146}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{246,146}}</string>
                <key>offset</key>
                <string>{-132,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,25},{246,146}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1090},{280,170}}</string>
                <key>offset</key>
                <string>{-116,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{280,170}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1398},{314,176}}</string>
                <key>offset</key>
                <string>{-100,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{314,176}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{350,174}}</string>
                <key>offset</key>
                <string>{-82,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{350,174}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1212},{386,182}}</string>
                <key>offset</key>
                <string>{-64,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{386,182}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1020},{420,188}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{420,188}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,824},{440,192}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{440,192}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,208},{460,200}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{460,200}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{486,202}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{506,202}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{514,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,412},{444,202}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{444,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,618},{442,202}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{442,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{440,202}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{440,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{420,202}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{420,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{418,202}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{418,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1524},{270,202}}</string>
                <key>offset</key>
                <string>{122,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,0},{270,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1578},{260,202}}</string>
                <key>offset</key>
                <string>{127,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,0},{260,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1796},{250,202}}</string>
                <key>offset</key>
                <string>{132,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,0},{250,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1798},{240,202}}</string>
                <key>offset</key>
                <string>{137,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,0},{240,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1578},{226,202}}</string>
                <key>offset</key>
                <string>{144,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,0},{226,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{214,202}}</string>
                <key>offset</key>
                <string>{150,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,0},{214,202}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
            <key>00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1784},{196,196}}</string>
                <key>offset</key>
                <string>{159,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,1},{196,196}}</string>
                <key>sourceSize</key>
                <string>{514,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_3_3_attack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edaddbd1772173650b7e20113a438606$</string>
            <key>textureFileName</key>
            <string>tower_3_3_attack.png</string>
        </dict>
    </dict>
</plist>
