<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,216},{38,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{38,57}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,144},{32,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{32,47}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,180},{32,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{32,41}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,38},{32,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{32,23}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{32,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{32,23}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>wuqi1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,382},{134,130}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{134,130}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{132,104}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{132,104}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,470},{132,128}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{132,128}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,532},{124,98}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,39},{124,98}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{140,94}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{140,94}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,660},{70,108}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{70,108}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,660},{70,108}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{70,108}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,622},{118,80}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{118,80}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,144},{140,134}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{140,134}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,358},{136,108}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{136,108}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{132,134}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{132,134}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,602},{126,100}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{126,100}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{148,98}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{142,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{142,90}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,282},{74,116}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{74,116}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,402},{126,86}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{126,86}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{154,138}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{148,114}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{148,114}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,222},{132,140}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{132,140}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,516},{132,102}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{132,102}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,100}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{156,98}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{156,98}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{80,120}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{80,120}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>wuqi3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,282},{138,96}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{138,96}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_5_5_attack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced77475c89d5b5e3dc85dda9be09764$</string>
            <key>textureFileName</key>
            <string>tower_5_5_attack.png</string>
        </dict>
    </dict>
</plist>
