<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gj_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{538,63}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{538,63}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,371},{532,67}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{532,67}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,371},{530,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{530,79}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,371},{532,79}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{532,79}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{534,87}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{534,87}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{542,71}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{542,71}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,371},{534,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{534,55}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,371},{534,79}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{534,79}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{552,53}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{552,53}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{534,81}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{534,81}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,371},{534,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{534,57}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,371},{532,57}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{532,57}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>gj_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{538,75}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{538,75}}</string>
                <key>sourceSize</key>
                <string>{560,97}</string>
            </dict>
            <key>sj_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,432},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{58,58}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,370},{60,58}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{60,58}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,909},{114,90}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{114,90}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,909},{128,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{128,106}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,907},{140,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{140,114}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,128},{144,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{144,118}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,248},{142,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{142,118}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,126},{144,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{144,118}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{148,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,120}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{148,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{148,122}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{150,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{150,120}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,126},{144,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{144,120}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{136,108}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{136,108}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>sj_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,989},{24,80}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{24,80}}</string>
                <key>sourceSize</key>
                <string>{154,126}</string>
            </dict>
            <key>xl_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,905},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,332},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,332},{76,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,414},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,414},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,332},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,250},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,250},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,250},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,412},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,412},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,332},{76,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl_4_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,250},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_8_2_skin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee4343845232a3b983e4175e2aad825$</string>
            <key>textureFileName</key>
            <string>tower_8_2_skin.png</string>
        </dict>
    </dict>
</plist>
