<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,64},{107,84}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{107,84}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,394},{113,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{113,90}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,408},{115,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{115,90}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,277},{113,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{113,90}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{117,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,92}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,152},{121,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{121,94}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{129,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,94}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,94}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{129,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,92}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,98},{129,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{129,90}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{129,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{129,88}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,277},{127,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{127,82}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{119,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{119,72}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{109,58}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{109,58}}</string>
                <key>sourceSize</key>
                <string>{129,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuoshao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f312de63e9caa747982728f052ecc2d$</string>
            <key>textureFileName</key>
            <string>zhuoshao.png</string>
        </dict>
    </dict>
</plist>
