<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_chapters_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,942},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,910},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,910},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,666},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,635},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_chapters_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{303,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,406}}</string>
                <key>sourceSize</key>
                <string>{303,406}</string>
            </dict>
            <key>img_clip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,442},{40,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{40,76}</string>
            </dict>
            <key>img_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,372},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>img_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,386},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>img_hall_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,118},{250,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,103}}</string>
                <key>sourceSize</key>
                <string>{250,103}</string>
            </dict>
            <key>img_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,2},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{112,126}</string>
            </dict>
            <key>img_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,522},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>img_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,550},{157,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,26}}</string>
                <key>sourceSize</key>
                <string>{157,26}</string>
            </dict>
            <key>img_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,319},{631,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,312}}</string>
                <key>sourceSize</key>
                <string>{631,312}</string>
            </dict>
            <key>img_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{631,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,319}}</string>
                <key>sourceSize</key>
                <string>{631,319}</string>
            </dict>
            <key>img_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{631,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,306}}</string>
                <key>sourceSize</key>
                <string>{631,306}</string>
            </dict>
            <key>img_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,618},{631,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,288}}</string>
                <key>sourceSize</key>
                <string>{631,288}</string>
            </dict>
            <key>img_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,319}}</string>
                <key>sourceSize</key>
                <string>{631,319}</string>
            </dict>
            <key>img_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{631,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,313}}</string>
                <key>sourceSize</key>
                <string>{631,313}</string>
            </dict>
            <key>img_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,325},{631,289}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{631,289}}</string>
                <key>sourceSize</key>
                <string>{631,447}</string>
            </dict>
            <key>txt_kunnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,187},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>txt_kunnan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,255},{62,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>txt_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,118},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>txt_putong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,321},{61,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapterUi.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b01d310f52fd444497dab63e3a43f85$</string>
            <key>textureFileName</key>
            <string>chapterUi.png</string>
        </dict>
    </dict>
</plist>
