<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_bar_green_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,171},{75,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,6}}</string>
                <key>sourceSize</key>
                <string>{75,6}</string>
            </dict>
            <key>hp_bar_red_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{75,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,6}}</string>
                <key>sourceSize</key>
                <string>{75,6}</string>
            </dict>
            <key>hp_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{81,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,10}}</string>
                <key>sourceSize</key>
                <string>{81,10}</string>
            </dict>
            <key>progress_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,11}}</string>
                <key>sourceSize</key>
                <string>{84,11}</string>
            </dict>
            <key>progress_green_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{80,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,7}}</string>
                <key>sourceSize</key>
                <string>{80,7}</string>
            </dict>
            <key>progress_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,87},{80,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,7}}</string>
                <key>sourceSize</key>
                <string>{80,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ld_gameui.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0f2f66de90138753cbb024287b427f$</string>
            <key>textureFileName</key>
            <string>ld_gameui.png</string>
        </dict>
    </dict>
</plist>
