<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_btn_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{14,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,86}}</string>
                <key>sourceSize</key>
                <string>{14,86}</string>
            </dict>
            <key>sm_btn_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{14,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,86}}</string>
                <key>sourceSize</key>
                <string>{14,86}</string>
            </dict>
            <key>sm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,28},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,2}}</string>
                <key>sourceSize</key>
                <string>{6,2}</string>
            </dict>
            <key>sm_s9_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,30},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>sm_s9_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,30},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sm_sfz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{130,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,83}}</string>
                <key>sourceSize</key>
                <string>{130,83}</string>
            </dict>
            <key>sm_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiming.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d84c9b4edc611018e235e898261155f$</string>
            <key>textureFileName</key>
            <string>shiming.png</string>
        </dict>
    </dict>
</plist>
