<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>batbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,122}}</string>
                <key>sourceSize</key>
                <string>{280,122}</string>
            </dict>
            <key>img_cloud_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{250,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,900}}</string>
                <key>sourceSize</key>
                <string>{250,900}</string>
            </dict>
            <key>img_cloud_rear.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{249,916}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,916}}</string>
                <key>sourceSize</key>
                <string>{249,916}</string>
            </dict>
            <key>img_leaf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{478,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,723}}</string>
                <key>sourceSize</key>
                <string>{478,723}</string>
            </dict>
            <key>img_snowflake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>img_sugar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{210,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,209}}</string>
                <key>sourceSize</key>
                <string>{210,209}</string>
            </dict>
            <key>img_sugar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,2},{221,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>img_sugar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,227}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>img_sugar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,922},{280,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,122}}</string>
                <key>sourceSize</key>
                <string>{280,122}</string>
            </dict>
            <key>sand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,922},{280,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,122}}</string>
                <key>sourceSize</key>
                <string>{280,122}</string>
            </dict>
            <key>smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,922},{1024,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,648}}</string>
                <key>sourceSize</key>
                <string>{1024,648}</string>
            </dict>
            <key>wave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{800,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,135}}</string>
                <key>sourceSize</key>
                <string>{800,135}</string>
            </dict>
            <key>wave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1574},{800,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,103}}</string>
                <key>sourceSize</key>
                <string>{800,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transition.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43de1130843109f562193d18f55ed85a$</string>
            <key>textureFileName</key>
            <string>transition.png</string>
        </dict>
    </dict>
</plist>
