<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,282},{52,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{52,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{52,58}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{52,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,56}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{68,56}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,282},{52,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{52,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,232},{54,58}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{54,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,114},{52,64}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,4},{52,64}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{52,66}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{52,66}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{54,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{54,64}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,170},{52,62}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{52,62}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,338},{48,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,14},{48,54}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,170},{54,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{54,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,58},{54,64}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{54,64}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{52,66}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,2},{52,66}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{52,64}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{52,64}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{52,62}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{52,62}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>move/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,290},{56,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{56,54}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,226},{52,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,13},{52,59}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,226},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,170},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{50,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{50,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,116},{50,63}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{50,63}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{50,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{50,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,170},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,226},{52,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{52,61}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gebulin.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd52dda8b67e192c54d3eda7b237832$</string>
            <key>textureFileName</key>
            <string>gebulin.png</string>
        </dict>
    </dict>
</plist>
