<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1328},{202,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,54},{202,234}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{220,230}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,58},{220,230}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1444},{232,226}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,62},{232,226}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{230,222}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,66},{230,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2088},{212,222}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,66},{212,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1898},{218,222}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,66},{218,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1892},{220,222}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,66},{220,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1730},{224,222}}</string>
                <key>offset</key>
                <string>{-37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,66},{224,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,152},{220,266}}</string>
                <key>offset</key>
                <string>{38,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,37},{220,266}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,462},{228,252}}</string>
                <key>offset</key>
                <string>{41,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,50},{228,252}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{230,260}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,43},{230,260}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,236},{232,252}}</string>
                <key>offset</key>
                <string>{44,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,50},{232,252}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,162},{232,250}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,52},{232,250}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,168},{232,254}}</string>
                <key>offset</key>
                <string>{44,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,48},{232,254}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,404},{186,244}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,44},{186,244}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1318},{202,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,54},{202,234}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1116},{202,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,54},{202,234}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1678},{222,230}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,58},{222,230}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,376},{248,218}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,70},{248,218}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,162},{252,224}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,64},{252,224}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{254,228}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{254,228}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1904},{214,222}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,66},{214,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1956},{206,214}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,74},{206,214}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1740},{206,222}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,66},{206,222}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1528},{208,226}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,62},{208,226}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1224},{210,236}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,52},{210,236}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{202,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,54},{202,234}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1472},{202,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,56},{202,232}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1524},{202,230}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,58},{202,230}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1322},{202,230}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,58},{202,230}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1238},{202,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,52},{202,236}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{202,240}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,48},{202,240}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,812},{202,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,46},{202,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,692},{202,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,46},{202,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{202,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,46},{202,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1264},{204,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,54},{204,234}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>attack2/020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1950},{202,216}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,72},{202,216}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1114},{210,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,52},{210,236}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/101.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1050},{210,240}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,48},{210,240}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/102.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1868},{212,224}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,64},{212,224}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/103.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1466},{212,232}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,56},{212,232}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/104.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1682},{212,226}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,62},{212,226}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/105.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1674},{214,226}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,62},{214,226}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/106.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1644},{220,226}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,62},{220,226}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1756},{220,224}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,64},{220,224}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1534},{228,218}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{228,218}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,898},{236,214}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,74},{236,214}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/110.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,836},{242,210}}</string>
                <key>offset</key>
                <string>{-55,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{242,210}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{244,202}}</string>
                <key>offset</key>
                <string>{-74,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,86},{244,202}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{244,190}}</string>
                <key>offset</key>
                <string>{-90,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,101},{244,190}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{274,162}}</string>
                <key>offset</key>
                <string>{-81,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,177},{274,162}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/114.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{290,146}}</string>
                <key>offset</key>
                <string>{-96,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,193},{290,146}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,162}}</string>
                <key>offset</key>
                <string>{-104,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,177},{300,162}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/116.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{296,156}}</string>
                <key>offset</key>
                <string>{-103,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,183},{296,156}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>die/117.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{296,156}}</string>
                <key>offset</key>
                <string>{-103,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,183},{296,156}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,840},{212,240}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,48},{212,240}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1102},{212,236}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,52},{212,236}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,472},{216,242}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,46},{216,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{220,250}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,38},{220,250}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,234},{224,254}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,34},{224,254}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,398},{220,246}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,42},{220,246}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,622},{214,242}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,46},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,816},{212,240}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,48},{212,240}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,898},{212,238}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,50},{212,238}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,598},{214,242}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,46},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,390},{220,250}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,38},{220,250}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{224,252}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,36},{224,252}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,614},{218,244}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,44},{218,244}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>move/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,594},{214,242}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,46},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,344}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1438},{202,233}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,60},{202,233}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1260},{202,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,59},{202,235}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1032},{202,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,57},{202,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1018},{202,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,57},{202,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,898},{200,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,57},{200,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1056},{200,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,57},{200,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,694},{200,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{200,239}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,694},{200,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{200,239}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,694},{200,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{200,239}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,694},{200,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{200,239}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1056},{200,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,57},{200,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,898},{200,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,57},{200,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1018},{202,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,57},{202,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1032},{202,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,57},{202,237}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
            <key>stand/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1260},{202,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,59},{202,235}}</string>
                <key>sourceSize</key>
                <string>{512,351}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gebulin_boss.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06526f223eaa1b8d2df68e9a25bd1c40$</string>
            <key>textureFileName</key>
            <string>gebulin_boss.png</string>
        </dict>
    </dict>
</plist>
