<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,447},{76,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{76,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,881},{76,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{76,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,417},{88,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{88,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,378},{88,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,47},{88,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,641},{94,86}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{94,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,484},{96,96}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,41},{96,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,527},{82,90}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,47},{82,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/019.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,180},{74,104}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,33},{74,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/020.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,100},{70,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,29},{70,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/021.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,174},{106,92}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{106,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/022.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,180},{106,82}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{106,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/023.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,584},{94,92}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{94,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack/024.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,452},{86,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{86,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{80,94}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{80,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{84,114}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,23},{84,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/027.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,84},{86,118}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,19},{86,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{86,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,27},{86,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/029.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,298},{86,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,27},{86,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/030.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,400},{80,98}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{80,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{96,88}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,49},{96,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/032.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,547},{96,90}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{96,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/033.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{116,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{116,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/034.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{116,94}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{116,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/035.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{122,94}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{122,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/036.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{118,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{118,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/037.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{122,96}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{122,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/038.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,96}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{122,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,100}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{122,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/040.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{122,94}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{122,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die/041.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{122,94}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{122,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{116,94}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{116,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/043.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,102},{116,94}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{116,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/044.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,100},{116,98}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{116,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/045.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,200},{110,100}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{110,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/046.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,349},{98,94}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,43},{98,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/047.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,542},{94,96}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/048.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,270},{98,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{98,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/049.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,202},{98,104}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,38},{98,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/050.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,640},{94,90}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,47},{94,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/051.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,304},{92,100}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,37},{92,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/052.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,174},{92,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{92,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/053.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,266},{92,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{92,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{82,116}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{82,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/055.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{78,120}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,17},{78,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/056.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,100},{76,118}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{76,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/057.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,100},{76,110}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,27},{76,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{76,98}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{76,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/059.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,602},{76,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,47},{76,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>die1/060.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,372},{76,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{76,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,467},{76,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{76,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,524},{74,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{74,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{72,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{72,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,731},{72,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{72,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,446},{74,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,39},{74,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,381},{76,100}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{76,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,362},{80,98}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{80,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,278},{84,96}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{84,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{84,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,45},{84,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,180},{82,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{82,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,337},{76,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{76,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{77,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,47},{77,96}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,461},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{77,98}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,270},{75,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{75,100}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,388},{75,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{75,100}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,258},{75,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{75,102}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,304},{73,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,42},{73,102}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,258},{75,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{75,102}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,388},{75,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{75,100}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,270},{75,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{75,100}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,461},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{77,98}}</string>
                <key>sourceSize</key>
                <string>{181,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guairen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93143fb08042784f1a44ea4780317d1d$</string>
            <key>textureFileName</key>
            <string>guairen.png</string>
        </dict>
    </dict>
</plist>
