<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,718},{108,120}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,652},{114,122}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{114,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,554},{114,122}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{114,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,360},{116,122}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{116,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,404},{116,124}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{116,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,472},{114,122}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{114,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,482},{114,124}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{114,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,102},{160,126}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,43},{160,126}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{160,126}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,43},{160,126}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{160,126}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,43},{160,126}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,200},{146,116}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{146,116}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,104},{146,116}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{146,116}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,254},{144,102}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{144,102}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,224},{144,104}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{144,104}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{144,150}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,11},{144,150}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,132},{144,150}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,11},{144,150}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,232},{134,122}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{134,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{134,120}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{134,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{108,120}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/020.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,672},{108,122}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1500},{108,102}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{108,102}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>attack/022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1414},{108,102}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{108,102}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,702},{110,120}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,48},{110,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,592},{120,120}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{120,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,358},{120,134}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,31},{120,134}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,280},{120,134}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,31},{120,134}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{118,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,712},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{118,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,150},{100,146}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,20},{100,146}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{96,142}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,20},{96,142}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,102},{94,156}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,6},{94,156}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{96,160}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{96,160}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{98,156}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{98,156}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,168}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{96,168}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{96,164}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,2},{96,164}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>die/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,150},{96,52}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,115},{96,52}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1168},{108,120}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1080},{108,120}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1280},{106,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1192},{106,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,992},{108,120}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,590},{108,122}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,480},{108,122}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1302},{108,118}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1150},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{106,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1050},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{106,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,942},{106,118}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{106,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1104},{106,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,896},{108,120}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1214},{108,118}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1118},{108,118}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,816},{108,120}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1008},{106,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/down/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,928},{106,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1038},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,716},{108,120}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,828},{106,120}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,41},{106,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1326},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,45},{106,116}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1230},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,45},{106,116}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{106,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{106,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,938},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,830},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1390},{106,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{106,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,606},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1056},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,968},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,880},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,784},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{108,120}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,480},{108,122}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{108,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/left/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{108,118}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,360},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{106,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{106,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,542},{106,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{106,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,600},{108,124}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{108,126}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,35},{108,126}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,320},{106,126}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,35},{106,126}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{106,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{106,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,946},{106,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{106,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,858},{106,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{106,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,770},{106,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{106,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,444},{106,124}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,37},{106,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,524},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,834},{108,122}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,746},{108,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{108,122}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,430},{108,124}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,332},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>move/up/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{108,124}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HalloweenPhantom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771577f30c1fc2fba1cdce8d64c16c45$</string>
            <key>textureFileName</key>
            <string>HalloweenPhantom.png</string>
        </dict>
    </dict>
</plist>
