<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/image 13718.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,165},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13720.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,156},{36,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{36,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13724.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,182},{36,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13726.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,182},{36,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13728.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13730.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,83},{38,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{38,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13732.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,92},{38,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{38,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13734.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,160},{36,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13736.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,125},{36,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack/image 13738.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,165},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13764.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,243},{34,14}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{34,14}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13766.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,261},{34,14}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{34,14}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13768.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,261},{36,18}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{36,18}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13770.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{36,22}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{36,22}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13772.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{36,26}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13774.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,272},{32,28}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{32,28}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13776.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,243},{34,32}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{34,32}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13778.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,234},{34,36}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{34,36}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13780.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,52},{36,40}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{36,40}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13782.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,239},{36,44}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13784.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,42},{36,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13786.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{32,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13788.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{36,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13790.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13792.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,116},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13794.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,205},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>attack1/image 13796.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,165},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,196},{34,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{36,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,78},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,142},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,120},{36,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,38},{36,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,82},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{35,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,46}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,222},{35,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,46}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,200},{35,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,46}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,44},{35,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{35,48}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{33,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{33,48}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{33,50}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{33,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{33,48}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,44},{35,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{35,48}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,200},{35,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,46}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,222},{35,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,46}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuren.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26edf25e0e6f774c6bd01902b6be812$</string>
            <key>textureFileName</key>
            <string>shuren.png</string>
        </dict>
    </dict>
</plist>
