<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/image 13893.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,246},{52,52}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13895.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,246},{48,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{48,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13897.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,448},{48,54}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{48,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13899.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,390},{48,54}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{48,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13901.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,332},{50,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{50,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13903.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,410},{52,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13905.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{56,54}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13907.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,130},{60,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{60,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13909.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{54,48}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{54,48}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13911.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,366},{54,40}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{54,40}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13913.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,464},{54,42}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{54,42}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13915.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,370},{54,42}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{54,42}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13917.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,464},{46,48}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{46,48}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack/image 13919.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,300},{52,52}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13921.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13923.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,244},{56,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13925.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,198},{56,54}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13927.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,140},{58,54}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{58,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13929.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{58,54}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{58,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13931.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,416},{42,54}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{42,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13933.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,370},{42,52}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{42,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13935.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,416},{42,50}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13937.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,416},{44,50}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{44,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13939.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,416},{44,50}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{44,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13941.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,465},{44,50}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{44,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack1/image 13943.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{44,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{44,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13969.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{68,26}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{68,26}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13971.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,112},{62,26}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{62,26}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13973.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{64,24}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{64,24}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13975.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,134},{66,24}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{66,24}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13977.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,108},{66,24}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{66,24}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13979.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,98},{64,28}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{64,28}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13981.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,102},{66,32}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{66,32}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13983.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{68,34}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{68,34}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13985.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,60},{64,34}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{64,34}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13987.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{64,36}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{64,36}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13989.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{66,38}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{66,38}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13991.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,92},{66,38}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{66,38}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13993.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,62},{66,42}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{66,42}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13995.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,56},{66,42}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{66,42}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13997.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,44}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{62,44}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 13999.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,138},{64,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{64,46}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,136},{64,46}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{64,46}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{66,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,58},{66,50}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,52}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{68,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{68,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{68,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,40},{66,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{66,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14015.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,32},{66,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{66,56}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>attack2/image 14017.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{66,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{66,56}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,360},{54,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,254},{56,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,188},{56,54}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,188},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,220},{56,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,314},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,310},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,276},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,186},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,162},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,198},{56,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,244},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,188},{57,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{57,52}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{57,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{57,52}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,302},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,256},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{55,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{55,56}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,256},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,302},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{55,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{57,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{57,52}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shurenkesulu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497a3d22aeecedd6725f033f4283edff$</string>
            <key>textureFileName</key>
            <string>shurenkesulu.png</string>
        </dict>
    </dict>
</plist>
