<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/Gorilla_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1221},{124,142}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,57},{124,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1151},{124,142}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,57},{124,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,820},{134,148}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,51},{134,148}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{140,152}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,47},{140,152}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,518},{138,154}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,45},{138,154}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{134,158}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,41},{134,158}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,428},{132,160}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,39},{132,160}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,562},{122,160}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{122,160}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,496},{124,160}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,39},{124,160}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,274},{162,150}}</string>
                <key>offset</key>
                <string>{40,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,54},{162,150}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{188,108}}</string>
                <key>offset</key>
                <string>{54,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,97},{188,108}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,258},{194,118}}</string>
                <key>offset</key>
                <string>{57,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,87},{194,118}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,330},{180,112}}</string>
                <key>offset</key>
                <string>{50,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,93},{180,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,446},{172,112}}</string>
                <key>offset</key>
                <string>{46,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,93},{172,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,380},{176,112}}</string>
                <key>offset</key>
                <string>{48,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,93},{176,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,158},{170,112}}</string>
                <key>offset</key>
                <string>{45,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,93},{170,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,380},{160,134}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,65},{160,134}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1059},{124,142}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,57},{124,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>attack/Gorilla_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1066},{124,140}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,57},{124,140}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,927},{128,144}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,53},{128,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,688},{128,150}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,47},{128,150}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,889},{128,146}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,51},{128,146}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1187},{128,136}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,61},{128,136}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{128,142}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,55},{128,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{128,140}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,57},{128,140}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,962},{126,136}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,61},{126,136}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,380},{126,160}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,37},{126,160}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,100},{154,194}}</string>
                <key>offset</key>
                <string>{33,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,18},{154,194}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{154,178}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,34},{154,178}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,100},{206,160}}</string>
                <key>offset</key>
                <string>{31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{206,160}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{216,124}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,91},{216,124}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{216,112}}</string>
                <key>offset</key>
                <string>{27,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,102},{216,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,264},{184,112}}</string>
                <key>offset</key>
                <string>{43,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,102},{184,112}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,224},{194,102}}</string>
                <key>offset</key>
                <string>{40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,112},{194,102}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{214,94}}</string>
                <key>offset</key>
                <string>{30,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,122},{214,94}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{216,94}}</string>
                <key>offset</key>
                <string>{29,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{216,94}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,92}}</string>
                <key>offset</key>
                <string>{28,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,124},{218,92}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{196,90}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{196,90}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>die/Gorilla_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,130},{200,90}}</string>
                <key>offset</key>
                <string>{38,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,124},{200,90}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,938},{124,142}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,57},{124,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,806},{128,144}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,55},{128,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,564},{130,148}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,51},{130,148}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,660},{132,150}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,49},{132,150}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,698},{130,144}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,55},{130,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,832},{126,142}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,57},{126,142}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,962},{126,140}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,59},{126,140}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1091},{126,144}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,55},{126,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{130,148}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,51},{130,148}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,624},{132,150}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,49},{132,150}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{130,144}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,55},{130,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1021},{126,144}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,55},{126,144}}</string>
                <key>sourceSize</key>
                <string>{324,216}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,958},{129,145}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{129,145}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,673},{129,147}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,60},{129,147}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,796},{127,147}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,60},{127,147}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{127,149}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,58},{127,149}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,760},{125,149}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,58},{125,149}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,544},{125,151}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,57},{125,151}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,760},{125,149}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,58},{125,149}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{127,149}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,58},{127,149}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,796},{127,147}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,60},{127,147}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,673},{129,147}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,60},{129,147}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingxing_qibing.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbf677affbf09ad3177f15eacc895848$</string>
            <key>textureFileName</key>
            <string>xingxing_qibing.png</string>
        </dict>
    </dict>
</plist>
