<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,912},{110,137}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,88},{110,137}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{112,135}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,89},{112,135}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,143},{112,135}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,88},{112,135}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,286},{114,135}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{114,135}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,450},{116,135}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,85},{116,135}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,570},{116,133}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,86},{116,133}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,912},{110,137}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,98},{110,137}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,425},{114,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,102},{114,133}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,141},{116,131}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,102},{116,131}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>attack/attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,282},{112,133}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,96},{112,133}}</string>
                <key>sourceSize</key>
                <string>{400,357}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,744},{158,164}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,53},{158,164}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,596},{156,170}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{156,170}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{158,180}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,39},{158,180}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{170,188}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,31},{170,188}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{174,196}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,23},{174,196}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,198}}</string>
                <key>offset</key>
                <string>{-7,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,17},{174,198}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,770},{158,166}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,49},{158,166}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{170,168}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,48},{170,168}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,404},{168,168}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,48},{168,168}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{156,160}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,56},{156,160}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,576},{158,164}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,52},{158,164}}</string>
                <key>sourceSize</key>
                <string>{380,344}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{111,137}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,90},{111,137}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,145},{111,137}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,91},{111,137}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,309},{111,137}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,91},{111,137}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{111,139}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,89},{111,139}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{109,139}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,89},{109,139}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,166},{109,139}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,89},{109,139}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{109,139}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,89},{109,139}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{111,139}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,89},{111,139}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,309},{111,137}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,91},{111,137}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,145},{111,137}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,91},{111,137}}</string>
                <key>sourceSize</key>
                <string>{381,351}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiniu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02cabfde086db5c6ea496f75141e949d$</string>
            <key>textureFileName</key>
            <string>xiniu.png</string>
        </dict>
    </dict>
</plist>
