<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,70},{80,64}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{80,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{62,58}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,385},{60,56}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{60,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,327},{60,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{60,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{70,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{70,62}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,73},{72,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{72,62}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,139},{70,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{70,62}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{58,56}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{58,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,270},{60,56}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{60,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{60,56}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{60,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{76,56}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{76,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,131},{78,56}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{78,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,325},{60,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{60,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{80,64}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{80,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{52,58}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{52,58}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,330},{52,56}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,387},{52,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,267},{62,56}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{62,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/018.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,205},{64,54}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{64,54}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,266},{64,54}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{64,54}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/020.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,443},{52,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,387},{52,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,445},{52,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/023.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,138},{76,56}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{76,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/024.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,71},{78,56}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{78,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>attack/025.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,449},{52,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,56}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,257},{62,64}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,9},{62,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,204},{62,68}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{62,68}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,73},{64,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{64,70}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{64,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{64,70}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,264},{62,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{62,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,263},{62,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{62,58}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,198},{62,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{62,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,191},{62,68}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,5},{62,68}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,141},{60,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{60,70}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,138},{62,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{62,70}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,198},{64,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{64,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,205},{62,58}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{62,58}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,71},{80,63}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{80,63}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{80,65}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{80,65}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{80,65}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{80,65}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{80,67}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{80,67}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{80,67}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{80,67}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{80,67}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{80,65}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{80,65}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{80,65}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{80,65}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiyi_nushou.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed7cbe1cd9f7b25a819f6e83214b3908$</string>
            <key>textureFileName</key>
            <string>xiyi_nushou.png</string>
        </dict>
    </dict>
</plist>
