<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/SaurianBroodguard_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{66,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{66,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{54,56}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{54,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,286},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,236},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{62,52}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,126},{62,52}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{62,52}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>attack/SaurianBroodguard_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,338},{48,52}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{48,52}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,122},{42,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{42,54}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,236},{44,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{44,58}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{48,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{48,60}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,182},{50,60}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,284},{50,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{50,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{48,50}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{48,50}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,296},{50,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{50,54}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,234},{48,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{48,58}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,186},{46,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{44,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{44,60}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,62},{42,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{42,56}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,180},{42,50}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{42,50}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{67,56}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{67,56}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{67,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,124},{65,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{65,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,62},{65,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{65,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{65,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{65,60}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,62},{65,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{65,60}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{65,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{65,60}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,62},{65,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{65,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,124},{65,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{65,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{67,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiyi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbdfaabf82a3220bc233a28f3039cc62$</string>
            <key>textureFileName</key>
            <string>xiyi.png</string>
        </dict>
    </dict>
</plist>
