<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/SaurianElite_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,628},{136,114}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{136,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,792},{136,114}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{136,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{138,118}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{138,118}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,408},{148,116}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{148,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,134},{176,116}}</string>
                <key>offset</key>
                <string>{-35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{176,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,528},{138,120}}</string>
                <key>offset</key>
                <string>{33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,34},{138,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,490},{140,112}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,44},{140,112}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{144,116}}</string>
                <key>offset</key>
                <string>{37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,42},{144,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,136},{150,116}}</string>
                <key>offset</key>
                <string>{37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,42},{150,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,254},{174,120}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{174,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,652},{136,114}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{136,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,764},{136,114}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{136,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,734},{128,118}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{128,118}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,500},{134,116}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{134,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,242},{160,120}}</string>
                <key>offset</key>
                <string>{-42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{160,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{150,150}}</string>
                <key>offset</key>
                <string>{39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,4},{150,150}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,262},{150,114}}</string>
                <key>offset</key>
                <string>{40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{150,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{152,116}}</string>
                <key>offset</key>
                <string>{41,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,42},{152,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{182,128}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{182,128}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{242,130}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{242,130}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{150,150}}</string>
                <key>offset</key>
                <string>{39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,4},{150,150}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,290},{150,114}}</string>
                <key>offset</key>
                <string>{40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{150,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,122},{152,116}}</string>
                <key>offset</key>
                <string>{41,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,42},{152,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{182,128}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{182,128}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,130}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{242,130}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,256},{150,114}}</string>
                <key>offset</key>
                <string>{40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{150,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{152,116}}</string>
                <key>offset</key>
                <string>{41,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,42},{152,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,366},{158,120}}</string>
                <key>offset</key>
                <string>{40,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,43},{158,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>attack/SaurianElite_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,134},{180,124}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,41},{180,124}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,374},{150,112}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{150,112}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,378},{140,118}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{140,118}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,620},{130,120}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{130,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,856},{126,120}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{126,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,856},{122,116}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{122,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,856},{122,116}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{122,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,752},{118,112}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{118,112}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,868},{116,114}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{116,114}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,856},{118,122}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{118,122}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,500},{122,122}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{122,122}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,628},{128,120}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{128,120}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,380},{140,116}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{140,116}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>move/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{148,108}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{148,108}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{136,114}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,44},{136,114}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,490},{136,116}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{136,116}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{134,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{134,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,490},{134,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,41},{134,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,904},{132,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{132,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,610},{132,120}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{132,120}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,904},{132,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{132,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,490},{134,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,41},{134,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{134,118}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{134,118}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,490},{136,116}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{136,116}}</string>
                <key>sourceSize</key>
                <string>{248,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiyi_baifuzhang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff569e0b58f4bbfdb254b2f20f66eb3$</string>
            <key>textureFileName</key>
            <string>xiyi_baifuzhang.png</string>
        </dict>
    </dict>
</plist>
