<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{60,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,208},{60,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,203},{60,64}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,194},{60,64}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,133},{60,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,64}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,62}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{72,62}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,62}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{72,62}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>attack/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,133},{60,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{60,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{62,62}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{62,68}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{62,68}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{64,70}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{64,70}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,142},{62,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{62,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{58,58}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,137},{64,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{64,62}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{66,68}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{66,68}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{64,70}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,70}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,74},{64,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>move/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,136},{64,58}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{64,58}}</string>
                <key>sourceSize</key>
                <string>{136,84}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,197},{61,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{61,63}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,72},{61,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{61,65}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,131},{59,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{59,65}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,70},{59,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{59,67}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{59,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{59,67}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,70},{57,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,9},{57,67}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{59,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{59,67}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,70},{59,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{59,67}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,131},{59,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{59,65}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,72},{61,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{61,65}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiyi_lietou.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e28b12d86c8a5bc8830466bcd65e6f2$</string>
            <key>textureFileName</key>
            <string>xiyi_lietou.png</string>
        </dict>
    </dict>
</plist>
