<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,43},{44,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{44,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{46,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{46,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{46,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,43},{44,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{46,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{46,35}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{46,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{46,35}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>attack/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{46,37}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>move/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,163},{44,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,123},{44,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,139},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,93},{44,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{44,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,189},{44,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,123},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,83},{44,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,43},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,91},{44,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{44,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{44,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,141},{44,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,43},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>move/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,187},{44,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>stand/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,43},{44,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,91},{44,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,189},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,141},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,203},{42,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{42,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,141},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,189},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,39}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>stand/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,91},{44,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhizhu_lv.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278218e36a3dd44a93411f8f66ceac02$</string>
            <key>textureFileName</key>
            <string>zhizhu_lv.png</string>
        </dict>
    </dict>
</plist>
