<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,75},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,284},{71,71}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{71,71}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,217},{71,71}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,209},{71,71}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{69,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,75},{69,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{75,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{75,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>r_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{73,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,148},{73,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{63,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{63,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,292},{63,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>v_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,142},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapPath_05.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1c1c50a17d74a6b1cd4c1f592a9429$</string>
            <key>textureFileName</key>
            <string>mapPath_05.png</string>
        </dict>
    </dict>
</plist>
