<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,310},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{75,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,142},{150,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,65}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>h_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{150,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,67}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>lk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,450},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{63,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{63,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{63,136}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>lk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,296},{136,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{136,61}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>lk_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>m_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,389},{75,57}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>v_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,436},{65,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>v_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,436},{65,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>v_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,436},{65,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>v_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{65,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>v_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,156},{63,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapPath_06.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57a1ba80906688543d23ababa1dfd91d$</string>
            <key>textureFileName</key>
            <string>mapPath_06.png</string>
        </dict>
    </dict>
</plist>
