<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,4},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,162},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>h_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,73},{150,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>h_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{150,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>lk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,85},{71,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,300},{73,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,142}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>lk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,211},{148,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,69}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>lk_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,286},{144,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>v_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,436},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>v_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,436},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>v_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,231},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>v_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,142},{63,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,150}}</string>
                <key>sourceSize</key>
                <string>{63,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapPath_00.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e76b8006ed731b59d72db6cf6df9e5ea$</string>
            <key>textureFileName</key>
            <string>mapPath_00.png</string>
        </dict>
    </dict>
</plist>
